
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --color: rgba(255, 255, 255, 0.87);
  color:var(--color);
  --active: #313799;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #213547;
    --active: #888def;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

canvas{
  display: block;
  margin: 0 auto;
}

#codeeditor {
  width: 100%;
  height: 100vh;
  margin-top: 2em;

  display: flex;
  flex-direction: row;
  position: fixed;
  top:0;

}

*.hidden {
  display: none;
}

#codeeditor>#explorer {
  flex-direction: column; /* Added to make explorer take the remaining space */
  width: 200px;
  height: 100%;
  padding: 10px;
}

#explorer>p{
  cursor: pointer;
}

#codeeditor>#contentarea {
  flex-direction: column;
  height: 100%;
  padding: 10px;
  /* background-color: var(--active); */
  border-left: 1px solid var(--color);
  flex-grow: 1; /* Added to make contentarea take the remaining space */
  white-space: pre;
  font-family: monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: scroll;
  position: relative;
  top:-2em;
  padding-bottom: 100vh;
  
}

.active {
  background-color: var(--active);
}